html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #0f0f0f; /* dark cinematic */
    color: rgb(251, 244, 176);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header, .hero {
    padding: 120px 20px;
  background: linear-gradient(to bottom, #430000, #000000);
}
}

h1 {
    font-size: 200px;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    font-size: 18px;
}

h2 {
    margin-top: 60px;
    font-size: 36px;
    letter-spacing: 1px;
}

h3 {
    margin-top: 40px;
    font-size: 22px;
}

.video-block iframe {
    margin: 30px 0;
    max-width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

footer {
    background: #000;
    padding: 50px 20px;
    margin-top: 60px;
}

footer p {
    color: #aaa;
}
.video-block iframe {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-block iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}
.video-block iframe {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-block iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255,255,255,0.2);
}
